* {
    /*background-color: #E9F0E0;*/
    background-color: 
    #EDF3E6
    ;
}

p, h1, h2, h3, h4 {
   /* color: #545454; */
   color: 
   
#3E464C
    
   ;
    font-family: "Source Sans 3", sans-serif;
}

footer {
    background-color: #4F6D2B;
}