* {
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    color: #333533;
    font-family: "Montserrat", sans-serif;
}

p, a {
    color: #212121;
    font-family: "Lato", sans-serif;
}

a {
    color: #2E4F3E;
    text-decoration: underline;
}

nav {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 20vh;
    padding: 0 3vw;
    background-color: #2E4F3E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #FFFFFF;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li a {
    padding-right: 5vw;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
}

nav button {
    height: 4vw;
    width: 4vw;
    background-color: #2E4F3E;
    border: none;
}

nav button img {
    height: 4vw;
    width: 4vw;
}

.card1 {
    padding-top: 20vh;
    background-color: #333533;
    color: #D3D6D2;
    padding-left: 2vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card1 h1 {
    color: #D3D6D2;
}

.card1 h2 {
    color: #D3D6D2;
}

.card1 img {
    height: 80vh;
    width: 50vw;
}
.card2 {
    padding: 5vh;
}
.card2 h1 {
    text-align: center;
}

.card2 h2,p {
    color:#FFFFFF;
}


.card2 a {
    color: #D3D6D2;
}
.project_item {
    background-color: #474b47;
    border-radius: 3vh;
    padding: 5vh;
    margin-bottom: 3vh;
}
footer {
    background-color: #333533;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #D3D6D2;
}